<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tanggal Main</th>
        <th scope="col">Nama Team</th>
        <th scope="col">VERSUS</th>
        <th scope="col">Nama Team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>2 November 2021</th>
        <td>sleepyhead46</td>
        <td>vs</td>
        <td>r3ven4ntE</td>
      </tr>
      <tr>
        <th>10 November 2021</th>
        <td>r3ven4ntE</td>
        <td>vs</td>
        <td>budak_kobar990</td>
      </tr>
      <tr>
        <td>3 hours ago</td>
        <td>Jojon_91</td>
        <td>vs</td>
        <td>r3ven4ntE</td>
        
      </tr>
    </tbody>
  </table>